<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Dashboard
        <!--<small>Listado de todas las categorias</small>-->
    </h1>
    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-dashboard"></i>  Dashboard
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= JSON.stringify(user) %>
        </div>
    </div>
</section>
<!-- /.content -->
