<!DOCTYPE html>
<html>

    <head>
        <title>Central de Ofertas</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Central de Ofertas es una app mobile que te permite sumarte a ofertas exclusivas directa de los fabricantes. Sumate a la primera comunidad de comercios minoristas de latinoamerica!">
        <meta property="og:title" content="Central De Ofertas">
        <meta property="og:url" content="http://centraldeofertas.com.ar">
        <meta property="og:image" content="http://centraldeofertas.com.ar/images/logo.jpg">
        <meta property="og:description" content="Central de Ofertas es una app mobile que te permite sumarte a ofertas exclusivas directa de los fabricantes. Sumate a la primera comunidad de comercios minoristas de latinoamerica!">
        <!-- Viewport mobile tag for sensible mobile support -->
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->
        <link rel="stylesheet" href="styles/landing/style.css">
        <link rel="stylesheet" href="styles/landing/animate.css">
    </head>

    <body>
        <div class="container-fluid <%- block.maincontainercustomclass %>">
            <%- body %>
        </div>
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->

        <!--SCRIPTS-->
        <script src="/js/dependencies/socket.io.js"></script>
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/jquery.js"></script>
        <script src="/js/dependencies/underscore.js"></script>
        <script src="/js/backbone.js"></script>
        <script src="/js/backbone.paginator.js"></script>
        <script src="/js/backform.js"></script>
        <script src="/js/backgrid.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/utils.js"></script>
        <!--SCRIPTS END-->
        <%- block.scripts %>
    </body>

</html>
