<!DOCTYPE html>
<html>

    <head>
        <title>Central de Ofertas</title>
        <meta charset="utf-8" />
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/importer.css">
    </head>

    <body>
        <div class="container-fluid">
            <%- body %>
        </div>
        <!--TEMPLATES-->
        <script type="text/javascript" src="/jst.js"></script>
        <!--TEMPLATES END-->

        <!--SCRIPTS-->
        <script src="/js/dependencies/socket.io.js"></script>
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/jquery.js"></script>
        <script src="/js/dependencies/underscore.js"></script>
        <script src="/js/dependencies/backbone.js"></script>
        <script src="/js/dependencies/backform.js"></script>
        <script src="/js/admin/app.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/utils.js"></script>
        <!--SCRIPTS END-->
    </body>

</html>
