<div class="row">
    <div class="col-xs-3 center-block">
        <form action="/user" method="POST">
            <div class="form-group">
                <label for="username">Nombre de Usuario</label>
                <input class="form-control" type="text" id="username" name="username" placeholder=".." required />
            </div>
            <div class="form-group">
                <label for="email">Mail</label>
                <input class="form-control" type="email" id="email" name="email" placeholder=".." required />
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input class="form-control" type="password" name="password" placeholder="Contraseña" required />
            </div>
            <input type="submit" value="Login" class="btn btn-default" />
        </form>
    </div>
</div>
